<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workout App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">



</head>

<body>
    <div class="ui secondary fixed pointing menu" style="padding-left: 280px;">
        <a class="active item">
            Workout App
        </a>

        <div class="right menu">
            <a class="ui item">
                Edit Profile
            </a>
            <a class="ui item">
                <i class="power red icon"></i>
                Logout
            </a>
        </div>
    </div>
    <nav>
        <div class="ui left demo vertical sidebar labeled icon menu visible" style="width: 250px;">

            <a class="item" style="padding: 0px;">
                <img style="width: 100%; height: 110px;" class="ui tiny image" src="image/motivation.png">

            </a>
            <a class="active item" >
                <div class="item">
                    <img class="ui avatar image" src="image/matthew.png"> Matthew(Trainer)

                </div>
            </a>
            <a class="item">
                <div class="item">
                    <i style="display: inline; float: left;" class="object group blue icon"></i> Dashboard
                </div>
            </a>
            <a class="item" >
                <div class="item">
                    <i style="display: inline; float: left;" class="users red icon"></i> Unassigned Users
                </div>
            </a>
            <a class="item" href="#portfolio">
                    <div class="item">
                        <i style="display: inline; float: left;" class="users orange icon"></i> Assigned Users
                    </div>
                </a>
            <a class="item">
                <div class="item">
                    <i style="display: inline; float: left;" class="phone green icon"></i> Calls
                </div>
            </a>
            <a class="item">
                <div class="item">
                    <i style="display: inline; float: left;" class="wechat yellow icon"></i> Chat
                </div>
            </a>
            

        </div>

    </nav>

    <section>
        <!-- news feed starts -->
        <div class="ui four grid centered center" id="portfolio" style="margin-top: 50px; margin-left: 220px;">
            <h1 style="font-family: 'Raleway', sans-serif !important; font-size: 35px; font-weight: 100; letter-spacing: 0.2em;">Contract Expiry</h1>
            <div class="row">
                <div class="eight wide column">
                    <div class="ui cards">
                        <div class="ui fluid card">
                            <div class="content">
                                <img class="right floated tiny circular ui image" src="image/elliot.jpg">
                                <div class="header">
                                    Elliot Fu
                                </div>
                                <div class="meta">
                                    Head Coach
                                </div>

                                <div class="description">
                                    <p>
                                        <strong>Job experience</strong>: 15 years
                                        <br>
                                        <strong>Phone Number</strong>: 9999999999
                                        <br>
                                        <strong>Email</strong>: hello
                                        <br>
                                    </p>
                                    <div class="ui divider"></div>
                                    <p>
                                        <strong>Job description</strong>: Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                        Fugit porro eligendi esse maxime consectetur reiciendis veniam est atque, obcaecati
                                        vitae velit incidunt tempora sunt praesentium sed exercitationem, quaerat, qui earum.

                                    </p>
                                    <div class="ui divider"></div>
                                    <p>
                                        <strong>Contract Details</strong>
                                        <br>
                                        <strong>Date of Joining</strong>: 14/2/2018
                                        <br>
                                        <strong>Contract Duration</strong>: 1 year
                                        <br>
                                        <strong>Days Left</strong>: 32 days
                                        <br>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- news feed ends -->


    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script>
        $("#dropdown-btn").on('click', function () {
            $('.ui.dropdown')
                .dropdown()
                ;
        });

        $('.special.cards .image').dimmer({
            on: 'hover'
        });
    </script>


</body>

</html>